@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  header, footer, nav, button {
    display: none !important;
  }
}
